@model PhotoContest.Web.ViewModels.CommentViewModel

<div id="comment@(Model.Id)" class="panel panel-body panel-default">
    @Model.Text
    <br />

    @if (@Model.Author.UserName == this.User.Identity.Name)
    {
        @Ajax.ActionLink("Delete", "Delete", "Comments",
        new { id = @Model.Id },
        new AjaxOptions
        {
            HttpMethod = "POST",
            //UpdateTargetId = "comment" + @Model.Id,
            //InsertionMode = InsertionMode.Replace,
            OnSuccess = "hideComment(" + @Model.Id + ")"
        }, new { @class = "btn btn-danger" })

        @Html.ActionLink("Edit", "Edit", "Comments", new { id = Model.Id }, new { @class = "btn btn-primary" })
    }
</div>
