@model PhotoContest.Web.ViewModels.CommentViewModel

<div id="comment@(Model.Id)" class="panel panel-body panel-default">
    @Model.Text
    @Model.Id
    <br/>
    
    @Ajax.ActionLink("Delete", "Delete", "Comments",
        new { id = @Model.Id },
        new AjaxOptions
        {
            HttpMethod = "POST",
            UpdateTargetId = "comment" + @Model.Id,
            InsertionMode = InsertionMode.Replace,
            OnSuccess = "hideComment(" + @Model.Id + ")" 
        }, new { @class = "btn btn-danger" })
</div>
