@model PhotoContest.Web.ViewModels.UserViewModel

<a href="@Url.Action("Details", "Users", new {id = Model.Id})">
    <div class="panel panel-body panel-default user-panel">
        <img class="img-thumbnail" src="@Model.ProfilePicture" alt="profile picture"/>
        <div class="user-info">
            <h4>@Model.UserName</h4>
            <h4>Email: @Model.Email</h4>
            <h4>Joined On: @Model.JoinedOn</h4>
        </div>
    </div>
</a>