@model PhotoContest.Web.ViewModels.ContestViewModel

<div class="panel panel-body panel-default">
    <h3>
        @Model.Title
    </h3>
    <h4>Description: @Model.Description</h4>
    <p>Created On: @Model.CreatedOn</p>
    @Html.ActionLink("Photos", "Index", "AdminPictures", new { id = Model.Id }, new { @class = "btn btn-default pull-right" })
    @Html.ActionLink("Edit", "Edit", "AdminContests", new { id = Model.Id }, new { @class = "btn btn-default pull-right" })
    <a href="#" class="deleteLink btn btn-danger pull-right" id="@Model.Id">Delete</a>
</div>