@using PhotoContest.Common.Helpers
@model PhotoContest.Web.InputModels.CommentInputModel
@{
    ViewBag.Title = "Add new comment";
}

@using (Ajax.BeginForm("Create", "Comments", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "test",
    OnSuccess = "hideForm",
    InsertionMode = InsertionMode.InsertBefore
}))
{
    <div id="createComment">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.LabelFor(c => c.Text)
        @Html.TextBoxFor(c => c.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
        @Html.Submit(new { @class = "btn btn-primary", value = "Comment" })
    </div>
}