@using PhotoContest.Common.Helpers
@model PhotoContest.Web.ViewModels.CommentViewModel

<h4>Edit your comment</h4>
@using (Ajax.BeginForm("Update", "Comments", new AjaxOptions()
{
    HttpMethod = "POST",
    InsertionMode = InsertionMode.ReplaceWith,
    UpdateTargetId = "comment" + @Model.Id
}))
{
    @Html.HiddenFor(p => p.PictureId);
    @Html.HiddenFor(p => p.Id);

    @Html.HiddenFor(p => p.Author);
    @Html.HiddenFor(p => p.Author);

    @Html.HiddenFor(p => p.Id);
    @Html.HiddenFor(p => p.Id);
    <div class="form-group">
        @Html.LabelFor(p => p.Text)
        @Html.TextBoxFor(p => p.Text, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Text, null, new { @class = "text-danger" })
    </div>

    @Html.Submit(new { @class = "btn btn-primary", value = "Edit" })
}