@using Microsoft.AspNet.Identity
@model PhotoContest.Web.ViewModels.ContestInviteUsers
@{
    ViewBag.Title = "Invite Users";
}

<h2>Invite users to your contest</h2>

@foreach (var user in Model.Users)
{
    if (user.UserName != User.Identity.Name)
    {
        <div class="panel panel-body panel-default">
            <h3>
                @Html.ActionLink(
                    String.Format("{0}", @user.UserName),
                    "Details", "Users", new {id = @user.Id}, null
                    )
            </h3>
            <h4>Email: @user.Email</h4>
            <p>Joined On: @user.JoinedOn</p>
            @if (user.UserName != User.Identity.Name)
            {
                @Ajax.ActionLink("Invite", "Invite", "Contests",
                    new {id = Model.ContestId, username = @user.UserName},
                    new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        OnSuccess = "sendNotification('" + @user.UserName + "', '" + @user.Id + "', '" + @Model.ContestId + "')"
                    }, new {@class = "btn btn-primary"})
            }
        </div>
    }
}

@section Scripts {
    <script>
        $(function () {
            $("a.btn").on('click', function () {
                $(this).addClass("disabled");
                $(this).text("Invited");
            });
        });
    </script>
}
