@model PhotoContest.Web.ViewModels.ContestViewModel
@{
    ViewBag.Title = "Details";
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Item</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-body panel-default">
        <h3>@Model.Title</h3>
        <h4>Description: @Model.Description</h4>
        <p>Organizator: @Model.Owner.UserName</p>
        <p>Created On: @Model.CreatedOn</p>
        <p>Voting strategy: @Model.VotingStrategy</p>
        <p>Deadline strategy: @Model.DeadlineStrategy</p>
        <p>Reward strategy: @Model.RewardStrategy</p>
        <p>Closed for submissions: @Model.IsClosedForSubmissions</p>
        <p>Closed for voting: @Model.IsClosedForVoting</p>

        @if (Model.Owner.UserName == User.Identity.Name)
        {
            <a href="#" class="deleteLink btn btn-danger pull-right" id="@Model.Id">Delete</a>
            @Html.ActionLink("Edit", "Edit", "Contests", new { id = Model.Id }, new { @class = "btn btn-default pull-right" })

            @Html.ActionLink("Invite", "InviteUsers", "Contests", new { id = Model.Id }, new { @class = "btn btn-default" })
        }

        @Html.ActionLink("Photos", "Index", "Pictures", new { id = Model.Id }, new { @class = "btn btn-default pull-right" })
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#deleteModal").modal("hide");

            $(".deleteLink").on("click", function () {

                $.get('@Url.Action("GetDeletePartial")', { id: $(this).prop("id") }, function (data) {
                    $("#deleteModalBody").html(data);

                    $("#deleteModal").modal("show");
                });

            });
        });
    </script>
}
