@using PhotoContest.Common.Helpers
@model PhotoContest.Web.InputModels.PictureInputModel

@{
    ViewBag.Title = "Create";
}

<h1>Create</h1>

@using (Html.BeginForm("Create", "Pictures", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.LabelFor(c => c.Title)
    @Html.EditorFor(c => c.Title)

    @Html.LabelFor(c => c.Url)
    @Html.EditorFor(c => c.Url)
    
    @Html.Submit(new { @class = "btn btn-primary", value = "Create" });
}
