@using Microsoft.AspNet.Identity
@model PhotoContest.Web.ViewModels.PictureViewModel
@{
    ViewBag.Title = "Details";
}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete Item</h4>
            </div>
            <div id="deleteModalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="panel panel-body panel-default">
        <h3>Name : @Model.Title</h3>
        <img src="@Url.Content(@Model.Url)" alt=""/>

        <span id="likes@(Model.PictureId)">
            <span>@Model.Votes.Count(v => v.IsDeleted == false)</span>

            @if (@Model.Votes.FirstOrDefault(v => v.UserId == this.User.Identity.GetUserId() && v.IsDeleted == false) == null)
            {
                @Ajax.ActionLink("Vote", "Vote", "Pictures",
            new { id = @Model.PictureId },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "likes" + @Model.PictureId,
                InsertionMode = InsertionMode.Replace
            }, new { @class = "glyphicon glyphicon-thumbs-up" })
            }
            else
            {
                @Ajax.ActionLink("Unvote", "UnVote", "Pictures",
            new { id = @Model.PictureId },
            new AjaxOptions()
            {
                HttpMethod = "POST",
                UpdateTargetId = "likes" + @Model.PictureId,
                InsertionMode = InsertionMode.Replace
            }, new { @class = "glyphicon glyphicon-thumbs-down" })
            }
        </span>

        @if (Model.Owner.Id == User.Identity.GetUserId())
        {
            @Html.ActionLink("Edit", "Edit", "Pictures", new { id = Model.PictureId,}, new { @class = "btn btn-default pull-right" })
            <a href="#" class="deleteLink btn btn-danger" id="@Model.PictureId">delete</a>

        }
        @Html.ActionLink("Comments","Index","Comments", new {id = @Model.PictureId}, new{ @class = "btn btn-info" })
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function() {
            $("#deleteModal").modal("hide");

            $(".deleteLink").on("click", function() {

                $.get('@Url.Action("GetDeletePartial")', { id: $(this).prop("id") }, function(data) {
                    $("#deleteModalBody").html(data);

                    $("#deleteModal").modal("show");
                });

            });
        });
    </script>
}