@using PhotoContest.Common.Helpers
@model PhotoContest.Web.ViewModels.PictureViewModel
@{
    ViewBag.Title = "Edit picture";
}

<h2>Edit</h2>
@using (Html.BeginForm("Update", "Pictures", FormMethod.Post))
{
    @Html.HiddenFor(p => p.PictureId);
    @Html.HiddenFor(p => p.ContestId);
    <div class="form-group">
        @Html.LabelFor(p => p.Title)
        @Html.TextBoxFor(p => p.Title, new {@class = "form-control"})
    </div>
    <div>
        @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    </div>
    @Html.Submit(new { @class = "btn btn-primary", value = "Edit" })
}